<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<p th:text="'Hello ' + ${name}">
<form method="post" th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>

<form method="post" th:action="@{/message}">
    <input type="text" name="text" id="text" placeholder="Enter text">
    <input type="text" name="tag" id="tag" placeholder="Enter tag">
    <button type="submit">Add</button>
</form>
<form method="post" th:action="@{/message/filter}">
    <input type="text" name="filter" placeholder="Filter">
    <button type="submit">Filter</button>
</form>

<table>
    <tr th:each="message : ${messages}">
        <td th:text="${message.getId()}"></td>
        <td th:text="${message.getText()}"></td>
        <td th:text="${message.getTag()}"></td>
        <td th:text="${message.getAuthor().getUsername()}"></td>
    </tr>
</table>

</body>
</html>